# Dependencies
node_modules/
.dart_tool/
.packages
.pub-cache/
.pub/

# Build
build/
dist/
*.apk
*.aab
*.ipa

# Env & secrets
.env
.env.local
*.pem

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Flutter
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/ios/Pods/
app/ios/.symlinks/
app/android/.gradle/
app/android/local.properties
app/android/key.properties

# Logs
*.log
npm-debug.log*
